@{
    ViewData["Title"] = "Home";
}

<h2>Sports debate page</h2>
<br />
<br />
<p>Welcome to Sports !!! In order to view or comment on any of our subjects you must login in !</p>

<img href="~/images/basket.jpg" />
<img href="~/images/fotbal.jpg" />
<img href="~/images/tenis1.jpg" />